:root {
    --text_color: #3b3a30;
    --background_color: #c0ded9;
    --accent_color: #eaece5;
    --accent2_color: #b2c2bf;
  }

body {
    background-color: var(--background_color);
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {
    background-color: var(--accent2_color);
    display: flex;
    flex-direction: row;
    margin: 5px;
}

h1 {
    text-align: center;
}

header {
    background-color: darkgray;
}

td {
    border: 2px solid var(--accent_color);
    margin: 10px;
    
}

td img {
    height: 50px;
    width: 50px;
}

header a {
    padding-left: 10px;
    padding-right: 10px;
}

header img:hover {
    background-color: #818b8a;
}