body {
    background-color:turquoise;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {

    display: flex;
    flex-direction: row;
    margin: 5px;
}

h1 {
    text-align: center;
}