html {
    margin: 0;
    padding: 0
}

body {
    font: small-caps 20px Garamond, times, Arial;
    line-height: 2;
    color: darkgrey;
    background: tan url(https://pbs.twimg.com/media/DN_dLzEUIAAzLzN?format=jpg&name=4096x4096) no-repeat bottom right;
}