html {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.25) url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#row0-0
{
  grid-area: below;
}

#row1-3
{
  grid-area: top;
}

#row4-6
{
  grid-area: middle;
}

#row7-9
{
  grid-area: bottom;
}

#buttons
{
  left: 40%;
  position: relative;

  /*
  display: grid;
  grid-template-areas: 
  "top top top"
  "middle middle middle"
  "bottom bottom bottom"
  "below below below"
  */

}

div button {
  width: 70px;
  height: 70px;
  grid-gap: 5px;
  font-size: 35px;
  font-family:'Courier New', Courier, monospace;
}

#button0
{
  width: 220px;
}

#intro
{
  text-align: center;
  padding: 10px;
  border: 2px black solid;
  background-color: rgba(255, 255, 255, 0.45);
}

#piPrefix
{
  font-size: 40px;
  color: white;
  left: 40%;
  position: relative;
}

#piCheat
{
  background-color: rgba(00, 00, 00, .70);
  font-size: 20px;
  color: white;
  border: 3px #007256 ridge;
  padding: 5px;
}

#HS
{
  background-color: rgba(00, 00, 00, .70);
  color: white;
  padding: 5px;
  border: 3px #007256 ridge;
}

button:hover
{
  color:#fff;background-color:#007256
}